#bg-grid {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-size: 120px 120px;
    background-image: 
        linear-gradient(to right, rgb(60, 72, 79) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(60, 72, 79) 1px, transparent 1px);
    background-color: rgb(30, 38, 43);
    cursor: grab
}

#node-selector {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 650px;
    background-color: rgb(27, 29, 30);
    border-radius: 6%;
    z-index: 2;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}